.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.overlay-text {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2.5rem 4rem;
  color: $gray-900;
}

.about-text {
  background-color: $white;
  width: 400px;
  padding: 0;
}
